<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RetroDisplay.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <RetroDisplay.Properties.Settings>
            <setting name="Brightness" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Contrast" serializeAs="String">
                <value>1.1</value>
            </setting>
            <setting name="Saturation" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Gamma" serializeAs="String">
                <value>1.15</value>
            </setting>
            <setting name="Phosphor" serializeAs="String">
                <value>0.12</value>
            </setting>
            <setting name="Scanlines" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Vignette" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HSize" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="VSize" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="VideoSource" serializeAs="String">
                <value />
            </setting>
            <setting name="VideoMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AudioSource" serializeAs="String">
                <value />
            </setting>
            <setting name="AudioMode" serializeAs="String">
                <value>0</value>
            </setting>
        </RetroDisplay.Properties.Settings>
    </userSettings>
</configuration>